<div>
    <p>Hi <%= user.name %>,</p>
    <br>
    <p>DO NOT SHARE THIS LINK WITH ANYONE</p>
    <br>
    <p>Use this link to reset password of your Instagaram account. <a href="http://localhost:8000/users/set-password/<%= accesstoken %>">Click here!</a></p>
    <p>Or paste the given link in your browser: localhost:8000/users/set-password/<%= user.accessToken %></p>
    <br>
    <p>Please ignore this mail if you haven't tried resetting your password.</p>
    <br>
    <p>Thank you</p>
</div>