<div>
    <p>Hi <%= user.name %>,</p>
    <p>DO NOT SHARE THIS LINK WITH ANYONE</p>
    <p>Use this link to reset password of your Instagaram account. <a href="localhost:8000/users/set-password/<%= accesstoken %>">Click here!</a></p>
    <p>Or paste the given link in your browser: localhost:8000/users/set-password/<%= accesstoken %></p>
    <p>Thanks!</p>
</div>