<div>
    <p>Hi <strong><%= user.name %></strong>,</p>
    <br>
    <p>Welcome to Instagram!!!</p>
    <br>
    <p>Your account has been successfully created</p> 
    <p>You can now follow your friends and celebrities, upload and share pictures and always stay connected!</p>
    <br>
    <p>Have fun Instagramming!</p>
    <br>
    <p>Thank you</p>
</div>