<aside>
    <div>
        <img src="images/logo.png" alt="logo" >
        <!-- <i class="fa-brands fa-instagram"></i> -->
    </div>
    <% if(locals.user){ %>
    <ul>
        <li>
            <a class="padding-05" href="#"><i class="fa-solid fa-house"></i></a>
            <span>Home</span>
        </li>
        <li>
            <a class="padding-05" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
            <span>Search</span>
        </li>
        <li>
            <a class="padding-05" href="#" id="notif">
                <i class="fa-brands fa-facebook-messenger"></i>
                <div id="notification">2</div>
            </a>
            <span>Messages</span>
        </li>
        <li>
            <a class="padding-05" href="posts/create-new-post"><i class="fa-regular fa-square-plus"></i></a>
            <span>Create</span>
        </li>
        <li>
            <a class="padding-05" href="#"><i class="fa-sharp fa-regular fa-compass"></i></a>
            <span>Explore</span>
        </li>
        <li>
            <a class="padding-05" href="#"><i class="fa-regular fa-heart"></i></a>
            <span>Notifications</span>
        </li>
    </ul>
    <div>
        <i class="fa-solid fa-bars"></i>
        <span>More</span>
    </div>
    <% }else{ %>
        <ul>
            <li>
                <a class="padding-05" href="/users/signin"><i class="fa-solid fa-user"></i><span>Sign in</span></a>
                
            </li>
            <li>
                <a class="padding-05" href="/users/signup"><i class="fa-solid fa-user-plus"></i><span>Sign up</span></a>
                
            </li>
        </ul>
    <% } %>

</aside>