<aside>
    <div id="logo">
        <% if (title == 'chats'){ %>
            <i class="fa-brands fa-instagram"></i>
        <% }else{ %>
            <img src="/images/logo.png" alt="logo" >
        <% } %> 
    </div>
    <% if(locals.user){ %>
    <ul>
        <li>
            <a class="padding-05" href="/"><i class="fa-solid fa-house"></i>
            <% if (title == 'chats'){ %>
                <span class="hide">Home</span>
            <% }else{ %>
                <span>Home</span>
            <% } %>
            </a>
        </li>
        <li>
            <!-- <a class="padding-05" href="#"> -->
            <div data-bs-toggle="modal" data-bs-target="#search-list" class="padding-05">
                <i class="fa-solid fa-magnifying-glass"></i>
                <% if (title == 'chats'){ %>
                    <span class="hide">Search</span>
                <% }else{ %>
                    <span>Search</span>
                <% } %>
            </div>  
        </a>
        </li>
        <li>
            <a class="padding-05" href="/messages/chats" id="notif">
                <i class="fa-brands fa-facebook-messenger"></i>
                <% if (title == 'chats'){ %>
                    <span class="hide">Messages</span>
                <% }else{ %>
                    <span>Messages</span>
                <% } %>
            </a>
        </li>
        <li>
            <a class="padding-05" href="/posts/create-new-post"><i class="fa-regular fa-square-plus"></i>
                <% if (title == 'chats'){ %>
                    <span class="hide">Create</span>
                <% }else{ %>
                    <span>Create</span>
                <% } %>
            </a>
        </li>
        <li>
            <a class="padding-05" href="/explore"><i class="fa-sharp fa-regular fa-compass"></i>
                <% if (title == 'chats'){ %>
                    <span class="hide">Explore</span>
                <% }else{ %>
                    <span>Explore</span>
                <% } %>
            </a>
        </li>
        <!-- <li>
            <a class="padding-05" href="#"><i class="fa-regular fa-heart"></i>
                <% if (title == 'chats'){ %>
                    <span class="hide">Notifications</span>
                <% }else{ %>
                    <span>Notifications</span>
                <% } %>
            </a>
            
        </li> -->
        <li>
            <a class="padding-05" href="/users/profile/<%= user.id%>"><img src="<%=user.avatar%>" alt="avatar" class="avatar">
                <% if (title == 'chats'){ %>
                    <span class="hide">Profile</span>
                <% }else{ %>
                    <span>Profile</span>
                <% } %>
            </a>
            
        </li>
        <li>
            <a class="padding-05" href="/users/signout">
                <% if (title == 'chats'){ %>
                    <span class="hide">Sign out</span>
                <% }else{ %>
                    <span>Sign out</span>
                <% } %>
            </a>
            
        </li>
    </ul>
    <div>
        <i class="fa-solid fa-bars"></i>
        <% if (title == 'chats'){ %>
            <span class="hide">More</span>
        <% }else{ %>
            <span>More</span>
        <% } %>
    </div>
    <% }else{ %>
        <ul>
            <li>
                <a class="padding-05" href="/users/signin"><i class="fa-solid fa-user"></i><span>Sign in</span></a>
                
            </li>
            <li>
                <a class="padding-05" href="/users/signup"><i class="fa-solid fa-user-plus"></i><span>Sign up</span></a>
                
            </li>
        </ul>
    <% } %>

</aside>