<link rel="stylesheet" href="/css/create.css">
<!--Create new post-->
<form action="/posts/create" method="post" id="new-post-form" enctype="multipart/form-data">
    <div id="previewContainer"><img src="" width="400" id="previewPost"></div>
    <br>
    <input type="file" name="post" placeholder="Upload picture" id="upload-pic-input" accept="image/*"/>
    <br/>
    <textarea id="caption-box" name="caption" rows="4" cols="50" placeholder="Type your post caption here..."></textarea>
    <br/>
    <input type="submit" value="Post" id="post-btn">
</form>

<script src="/javascript/create.js"></script>