<link rel="stylesheet" type="text/css" href="/css/home.css">
<link rel="stylesheet" type="text/css" href="/css/friends.css">
<div id="home-container">
    <div id="post-container">
        <!-- <section id="content">
            <div id="post-section">
            </div>
        </section> -->
        
        <section id="post-list-container">
            <ul>
                <% for (post of postlist){ %>
                    <% if(locals.user.following.includes(post.user._id)){ %>
                        <%- include('_post') -%>
                    <% } %>
                <% } %>
            </ul>
        </section>
    </div>
</div>
<script src="javascript/home_comments.js"></script>
<script src="javascript/home_posts.js"></script>

<script src="/javascript/toggle_likes.js"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>
