<link rel="stylesheet" type="text/css" href="/css/chat_box.css">
<div id="inbox-container">
    <div id="chat-user-list">
        <div class="m-top m-bottom suggest-head">
            <span>Start chatting now!</span>
        </div>
        <div id="user-friends" class="suggest-container m-top">
            <% for (u of all_users){ %>
            <a href="/users/profile/<%= u.id %>">
                <div class="profile-det">
                    <img src="<%= u.avatar %>" class="suggest-pic">
                    <div class="suggest-desc">
                        <span><b><%= u.name %></b></span>
                        <br/>
                    </div>
                </div>
            </a>
            <% } %>
        </div>
</div>
<!-- <% if (locals.user){ %> -->
	<div id="user-chat-box">
		<ul id="chat-messages-list">
			<li class="other-message">
				<span>Other Message</span>
			</li>
			<li class="self-message">
				<span>
					Self Message
				</span>
				
			</li>

		</ul>
		<div id="chat-message-input-container">
            <i class="fa-regular fa-face-laugh"></i>
			<input id="chat-message-input" placeholder="Type message here">
			<button id="send-message">Send</button>
		</div>

	</div>
<!-- <% } %> -->

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
<script src="javascript/chat_engine.js"></script>
<% if (locals.user){ %>
    <script>
        new ChatEngine('user-chat-box', '<%= locals.user.email %>')
    </script>
<% } %>

