<link rel="stylesheet" type="text/css" href="/css/profile.css">
<link rel="stylesheet" type="text/css" href="/css/posts.css">
<link rel="stylesheet" type="text/css" href="/css/comment.css">

<div class="container pt-4">
    <!--User details-->
    <div class="row">
        <%- include('_profile_detail') -%>
    </div>

    <!--Update profile form-->
    <div class="row">
        <%- include('_profile_update') -%>
    </div>
    <div class="p-4">=<hr></div>

    <div>
        <!--Posts of user-->
        <div id="profile-content-header p-2">
            <span class="fw-bold"><i class="fa-solid fa-bars"></i> POSTS</span>
        </div>
        <div>
            <section id="post-list-container">
                <ul>
                    <% for (post of postlist){ %>
                        <%- include('_post') -%>
                    <% } %>
                </ul>
            </section>
        </div>
    </div>
</div>

<script src="/javascript/profile.js"></script>