<link rel="stylesheet" type="text/css" href="/css/reset_password.css">

<!--Reset password page-->
<div id="reset-password-container">
    <h1>Reset Password</h1>
    <!--Page to update new password-->
    <% if(access==true) { %>
        <form action="/users/update-password/<%= accessToken %>" method="post" class="center-align">
            <div class="form-floating my-2">
                <input type="password" name="newPass" required placeholder="New Password" class="form-control" id="newPass">
                <label for="newPass">New Password</label>
            </div>
            <div class="form-floating">
                <input type="password" name="confirmPass" required placeholder="Confirm Password" class="form-control" id="confirmPass">
                <label for="confirmPass">Confirm New Password</label>
            </div>
            <input type="submit" value="Change password" class="margin" id="submit-btn">
        </form>

    <% } else { %>
        <!--Page to enter email (password change link to be sent to that mail)-->
        <form action="/users/send-reset-pass-mail" method="post" class="center-align">
            <p>Enter registered mail address:</p>
            <div class="form-floating my-2">
                <input type="email" name="email" required placeholder="Email" class="form-control" id="emailInput">
                <label for="emailInput">Email</label>
            </div>
            <input type="submit" value="Get confirmation mail" class="margin" id="submit-btn">
        </form>
    <% } %>
</div>