<link rel="stylesheet" type="text/css" href="/css/signin.css">

<div id="signin-container">
    <div id="login-img-container">
        <img src="/images/signin.jpg" alt="Instagram" id="loginimg">
    </div>
    <div id="login-form-container">
        <div class="container-border" class="center-align">
            <img src="/images/logo.png" alt="logo">
            <form action="/users/create-session" method="post" class="center-align">
                <div class="form-floating my-2">
                    <input type="email" name="email" required placeholder="Email" class="form-control" id="emailInput">
                    <label for="emailInput">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="password" name="password" required placeholder="Password" class="form-control" id="passwordInput">
                    <label for="passwordInput">Password</label>
                </div>
                <input type="submit" value="Log in" class="margin" id="submit-btn">
            </form>
        </div>
        <div class="container-border center-align">
            <a href="/users/auth/google"><i class="fa-brands fa-google"></i> Login with Google</a>
            <br><br>
            <a href="/users/auth/facebook"><i class="fa-brands fa-facebook"></i> Login with Facebook</a>
            <br><br>
            <a href="/users/auth/github"><i class="fa-brands fa-github"></i> Login with Github</a>
        </div>
        <div>
            <a href="/users/signup">Don't have an account? Sign Up</a>
        </div>
        <p>
            <a href="/users/reset-password">Forgot Password?</a>
        </p>
    </div>
</div>
