/* Removing outlines from all input tags*/
input:focus {
  outline: none; 
}

#chat-flex .chat-flex-child {
  height: 94vh; 
}

#chat-container {
  display: flex;
  flex-direction: row;
  border: 1px solid lightgrey;
  border-left: none;
  font-family: sans-serif; 
}

#chat-container #chat-user-list {
  height: 94vh; 
  padding: 0px 15px;
  overflow: auto;
  display: block;
  width: 30%;
  border-right: 1px solid lightgrey;
  overflow-y: scroll; 
}

#chat-container #chat-user-list::-webkit-scrollbar {
  display: none; 
}

#chat-container #chat-user-list>h2 {
  text-align: center;
  border-bottom: 1px solid lightgrey; 
  padding: 15px 0;
  font-weight: 100;
}

#chat-container #chat-user-list #roomlist .chat-list:hover {
  background-color: rgb(225, 223, 223); 
}

#chat-container #chat-user-list #roomlist .no-follower h2 {
  text-align: center;
  margin: 40px;
}

#chat-container #chat-user-list #roomlist .temporary-highlight {
  background-color: rgb(234, 233, 233); 
}

#chat-container #chat-user-list #roomlist .chat-list {
  border-bottom: 1px solid lightgray;
  cursor: pointer; 
}

#chat-container .follower-wrapper {
  display: flex;
  flex-wrap: nowrap;
  padding: 18px;
  align-items: center; 
}
      
#chat-container .follower-wrapper .follower-avatar {
  width: 45px;
  height: 45px; 
}

#chat-container .follower-wrapper .follower-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%; 
}

#chat-container .follower-wrapper .follower-name {
  padding-left: 12px;
}

#chat-container .chat-room-display {
  width: 70%;
  background: white; 
  height: 94vh;
}

#chat-container .chat-room-display .user-chat-box {
  position: relative;
  height: 100%; 
  padding-bottom: 15px;
}

#chat-container .user-chat-box .chat-header {
  background-color: rgb(245, 245, 245);
  width: 100%;
  height: 70px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center; 
  position: sticky;
}

#chat-container .chat-header .back-button{
  display: none; 
}

#chat-container .chat-header .header-avatar {
  height: 50px;
  width: 50px;
  margin-left: 5px; 
}

#chat-container .chat-header .header-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%; 
}

#chat-container .chat-header .header-name {
  margin-left: 10px;
}

#chat-container .user-chat-box .chat-messages-list-style::-webkit-scrollbar {
  display: none; 
}

#chat-container .user-chat-box .chat-messages-list-style {
  list-style: none;
  height: 85%;
  overflow: auto; 
}

#chat-container .other-message {
  display: flex;
  justify-content: flex-start; 
}

#chat-container .other-message .other-user {
  padding: 15px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 76%;
  word-break: break-all; 
}

#chat-container .other-user .other-user-image {
  height: 50px;
  width: 50px; 
}

#chat-container .other-user .other-user-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%; 
}

#chat-container .other-user .message-content-other {
  margin-left: 10px;
  border-radius: 15px;
  padding: 8px;
  background-color: rgb(146 145 145);
  color: white; 
}

#chat-container .chat-messages-list-style .self-message {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  min-height: 60px; 
}

#chat-container .self-message .self-user {
  display: inline-block;
  padding: 15px;
  max-width: 76%;
  word-break: break-all; 
}
#chat-container .self-user .message-content-self {
  border-radius: 15px;
  padding: 8px;
  background-color:rgb(76, 0, 255);
  border-radius: 15px;
  color: white; 
}
#chat-container .user-chat-box .chat-message-input-container {
  height: 35px;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  border: 1px solid #c4c4c4;
  margin: 3px;
  background-color: rgb(236, 235, 235);
  position: sticky;
  margin: 0px 10px;
}

#chat-container .chat-message-input-container .chat-message-input {
  height: 50%;
  margin: auto;
  width: 85%;
  border: none;
  background-color: transparent;
  padding-left: 15px;
}

#chat-container .chat-message-input-container #send-message {
  width: 15%;
  font-size: 18px;
  font-weight: 600;
  color: rgb(76, 0, 255);
  border: none;
  background: transparent;
  cursor: pointer; 
}

@media only screen and (min-width: 800px) {
  #chat-container .chat-room-display {
    display: block !important;
    width: 70% !important; 
  }
  
  #chat-container #chat-user-list {
    display: block !important;
    width: 30% !important; 
  } 
}

@media only screen and (max-width: 800px) {
  #chat-container .chat-room-display {
    display: none; 
  }

  #chat-container .user-chat-box .chat-header .back-button {
    display: block;
    font-size: xx-large;
    margin-left: 5px;
    color: white; 
  }

  #chat-container #chat-user-list {
    width: 100%;
    border-right: none; 
  } 
}