.comment-container{
    margin:0.5rem;
}
.comment-content{
    display: flex;
    justify-content: space-between;
}

.delete-comment-button{
    margin: 6px;
}

.comment-interction{
    display: flex;
    flex-direction: row;    
}

.comment-interction i{
    font-size: 15px;
    /* float: right; */
    margin: 0 5px;
}

.comment-reply-btn{
    margin: 1rem;
    font-size:15px;
    color: gray;
}

.likes-count{
    /* float: right; */
}