#friends-list-container{
    padding: 10px;
}

.col-grey{
    color: #535353;
}

.suggest-head{
    padding-top: 0.5rem;
    font-size: large;
}

.suggest-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
    flex-direction: column;
}

#friends-list-container .profile-det{
    display: flex;
    justify-content: center;
    align-items: center;
}

.suggest-pic{
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
}

.suggest-desc{
    margin-left: 0.5rem;
}

.follow-btn{
    color: blue;
}

/*screen resizing*/
@media only screen and (max-width: 1000px) {
    #friends-list-container{
        width: 0;
        padding: 0;
        margin: 0;
        visibility: hidden;
    }
}