nav{
    min-height: 98vh;
    border-right: 1px solid lightgray;
    padding:  15px;
    position: fixed;
    /* width: 150px; */
    flex-basis: 190px;
}

nav ul{
    list-style: none;
    padding: 5px 0;
    /* margin: 0; */
}  

nav #nav-items>li{
    padding: 1rem 3px;
    border-radius: 15px;
}

nav #nav-items>li:hover{
    background-color: lightgray;
}

.hide{
    width: 0;
    overflow: hidden;
    display: inline-block;
}

#logo{
    text-align: center;
}

#logo i{
    width: 10px;
}

nav .avatar{
    width: 35px;
}

nav .dropdown-item{

}