nav{
    min-height: 98vh;
    border-right: 1px solid lightgray;
    padding:  15px;
    position: fixed;
    flex-basis: 190px;
}

nav ul{
    list-style: none;
    padding: 5px 0;
}  

nav #nav-items>li{
    padding: 1rem 3px;
    border-radius: 15px;
}

nav #nav-items>li:hover{
    background-color: lightgray;
}

.temporary-highlight{
    background-color: lightgray;
}

.hidden{
    width: 0;
    overflow: hidden;
    visibility: collapse;
}

#logo{
    text-align: center;
}

nav .avatar{
    width: 35px;
}

/*screen resizing*/
@media only screen and (max-width: 1200px) {
    .to-hide{
        width: 0;
        visibility: hidden;
        padding: 0;
        overflow: hidden;
    }
    .hidden{
        width: auto;
        visibility: inherit;
        z-index: 1;
    }
    nav{
        width: 100px;
    }
    nav #nav-items>li{
        padding: 1rem 3px 0;
    }
}