aside{
    height: 98vh;
    border-right: 1px solid lightgray;
    padding: 0 1rem;
    position: fixed;
    /* width:150px; */
    flex-basis: 150px;
}

aside ul{
    list-style: none;
    padding: 0;
    /* margin: 0; */
}  

aside li{
    padding: 1rem 3px;
    border-radius: 15px;
}

aside li:hover{
    background-color: lightgray;
}