#profile-content-header{
    border-top:1px solid lightgray;
    text-align: center;
}

#profile-avatar{
    width:100%;
    max-width: 150px;
}

#profile-content-header span{
    padding: 0 2px;
}

#post-list-container ul{
    list-style: none;
    padding: 0;
}

.user-name{
    font-size: larger;
    font-weight: 700;
}

.float-right{
    float: right;
}

/*screen resizing*/
@media only screen and (max-width: 1200px) {
    main{
        margin-left: 120px;
    }
}