#reset-password-container{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

#reset-password-container form{
    border: 1px solid lightgray;
    width: 50%;
    padding: 2rem;
    background-color: aliceblue;
    margin-top: 2rem;
}

#submit-btn{
    background-color: white;
    border-color: lightgray;
    padding: 5px;
}

main{
    margin-left: 0;
}

/*screen resizing*/
@media only screen and (max-width: 800px) {
    #reset-password-container form{
        width: 70%;
    }
}